In [2]:
import pandas as pd
import numpy as np

In [4]:
import math

In [5]:
from datetime import datetime, timedelta

In [6]:
dataset_main = pd.read_excel('BI.xlsx')

In [7]:
dataset_main.head(5)

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED

In [8]:
#################### Using duplicate Datasets to not change the original ##############

In [9]:
db1 = dataset_main

In [10]:
db1.dtypes

Patient ID                          int64
Age                                 int64
Specialty                          object
Directorate                        object
Doctor                             object
Admission date and time    datetime64[ns]
Discharge Date and Time    datetime64[ns]
Ward                               object
Admission Type                     object
Admission Category                 object
Admission Source                   object
dtype: object

#### Creating a small sample to check the LOS

In [12]:
db_sample = db1.head(5)

In [13]:
db_sample.iloc[0,1]

76

In [14]:
for i in range(2):
    LOS = db_sample.iloc[i,6] - db_sample.iloc[i,5]
    print(LOS)

26 days 22:50:00
0 days 16:16:00

#### Introducing the LOS column in the dataset

In [16]:
LOS = []
date_format = '%y-%m-%d %H:%M:%S'
for i in range(len(db1)):
    LOS.append(db1.iloc[i,6] - db1.iloc[i,5])

In [17]:
db1['LOS'] = LOS

In [18]:
db1.head(5)

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00

### Q. Creating Age Group Column

In [20]:
bins = [0,3,16,20,105]
labels = ['Infant','Child','Teenager','Adult']

In [21]:
db1_duplicate = db1

In [22]:
db1['Age Group'] = pd.cut(db1['Age'], bins = bins, labels = labels, include_lowest = True)

In [23]:
db1.head()

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Age Group
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00,Adult
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00,Adult
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00,Adult
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00,Child
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00,Child

### Q. Number of Patients on 30th September 2014, 5am

In [25]:
db_sample.iloc[0,6]

Timestamp('2013-01-01 00:21:00')

In [26]:
number = []
date_format = '%y-%m-%d %H:%M:%S'
for i in range(len(db1)):
    t1 = db1.iloc[i,5]
    t2 = db1.iloc[i,6]
    if '14-09-30 05:00:00' >= t1.strftime(date_format) and '14-09-30 05:00:00' < t2.strftime(date_format):
        number.append(1)
    else:
        number.append(0)

In [27]:
sum(number)

58

#### Not Required

In [28]:
#################### Checking the difference between admissions and discharges in a month #################

In [29]:
adm = db1[(db1['Admission date and time']>='2013-02-01 00:00:00') & (db1['Admission date and time']<'2013-02-28 23:59:59')]

In [30]:
str(len(adm))

'389'

In [31]:
dis = db1[(db1['Discharge Date and Time']>='2013-02-01 00:00:00') & (db1['Discharge Date and Time']<'2013-02-28 23:59:59')]

In [32]:
str(len(dis))

'394'

### ---------------------------------------------------

### Number of Patients with different Length of Stay

In [34]:
more_than_7 = 0
more_than_15 = 0
less_than_1 = 0
average_LOS = 0
total = 0
date1 = datetime.strptime('13-01-01 00:00:00', date_format)
date2 = datetime.strptime('13-12-31 23:59:59', date_format)
for row,column in db1.iterrows():
    admission_day = column['Admission date and time']
    if admission_day >= date1 and admission_day < date2:
        total+=1
        if column['LOS'].days >= 7 and column['LOS'].days < 15:
            more_than_7+=1
        elif column['LOS'].days >15:
            more_than_15+=1
        elif column['LOS'].days == 0:
            less_than_1+=1
        elif column['LOS'].days > 0 and column['LOS'].days < 7:
            average_LOS+=1
print("{} patients stayed between 7 and 15 days ".format(more_than_7))
print("{} patients stayed for more than 15 days".format(more_than_15))
print("{} patients stayed for less than 1 day".format(less_than_1))
print("{} patients stayed betwwen 0 and 7 days".format(average_LOS))
print("{} total number of patients admitted".format(total))

576 patients stayed between 7 and 15 days
286 patients stayed for more than 15 days
998 patients stayed for less than 1 day
2644 patients stayed betwwen 0 and 7 days
4535 total number of patients admitted

### Created dataset to understand the number of daily Admissions, Discharges, and the number of patients with high LOS specialty

In [36]:
dataset_date = pd.read_excel('Date.xlsx')

In [37]:
dataset_date.head(5)

   Date 2013  Date 2014  Date 2015
0 2013-01-01 2014-01-01 2015-01-01
1 2013-01-02 2014-01-02 2015-01-02
2 2013-01-03 2014-01-03 2015-01-03
3 2013-01-04 2014-01-04 2015-01-04
4 2013-01-05 2014-01-05 2015-01-05

In [38]:
dataset_date.iloc[0,0]

Timestamp('2013-01-01 00:00:00')

In [39]:
adm_num = []
dis_num = []
diff = []
date = []
ad_Stroke = []
ad_Neur = []
ad_Ur = []
ad_Card = []
paed_Surg = []
#start_time = datetime.strptime('00:00:00', '%H:%M:%S')
#end_time = datetime.strptime('23:59:59', '%H:%M:%S')
hours = 23
minutes = 59
seconds = 59
add_hours = timedelta(hours = hours, minutes = minutes, seconds = seconds)
for row,column in dataset_date.iterrows():
    date_start = column['Date 2013']
    date_end = column['Date 2013'] + add_hours
    adm = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end)]
    dis = db1[(db1['Discharge Date and Time']>=date_start) & (db1['Discharge Date and Time']<date_end)]
    ad_S = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Stroke')]
    ad_N = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Neurology')]
    ad_U = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Urology')]
    ad_C = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Cardiology')]
    pae_S = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Paediatric Surgery')]
    adm_num.append(str(len(adm)))
    dis_num.append(str(len(dis)))
    difference = len(adm) - len(dis)
    diff.append(difference)
    date.append(date_start)
    ad_Stroke.append(str(len(ad_S)))
    ad_Neur.append(str(len(ad_N)))
    ad_Ur.append(str(len(ad_U)))
    ad_Card.append(str(len(ad_C)))
    paed_Surg.append(str(len(pae_S)))

In [40]:
db2013 = pd.DataFrame(list(zip(date,adm_num,dis_num,diff,ad_Stroke,ad_Neur,ad_Ur,ad_Card,paed_Surg)), columns = ['Date','Admission Num','Discharge Num','Difference','Adult Stroke Patients','Adult Neurology Patients','Adult Urology Patients','Adult Cardiology Patients', 'Paediatric Surgery Patients'])

In [41]:
db2013

,Date,Admission Num,Discharge Num,Difference,Adult Stroke Patients,Adult Neurology Patients,Adult Urology Patients,Adult Cardiology Patients,Paediatric Surgery Patients
0,2013-01-01,10,6,4,2,0,1,5,0
1,2013-01-02,17,9,8,1,2,5,3,0
2,2013-01-03,17,12,5,1,1,4,3,3
3,2013-01-04,13,11,2,1,1,3,5,0
4,2013-01-05,9,7,2,2,2,3,1,0
...,...,...,...,...,...,...,...,...,...
359,2013-12-26,5,6,-1,0,1,0,1,1
360,2013-12-27,9,10,-1,0,3,4,2,0
361,2013-12-28,3,4,-1,0,0,1,1,0
362,2013-12-29,3,2,1,0,0,2,1,0
363,2013-12-30,8,4,4,2,0,2,2,2

In [42]:
adm_num = []
dis_num = []
diff = []
date = []
ad_Stroke = []
ad_Neur = []
ad_Ur = []
ad_Card = []
paed_Surg = []
#start_time = datetime.strptime('00:00:00', '%H:%M:%S')
#end_time = datetime.strptime('23:59:59', '%H:%M:%S')
hours = 23
minutes = 59
seconds = 59
add_hours = timedelta(hours = hours, minutes = minutes, seconds = seconds)
for row,column in dataset_date.iterrows():
    date_start = column['Date 2014']
    date_end = column['Date 2014'] + add_hours
    adm = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end)]
    dis = db1[(db1['Discharge Date and Time']>=date_start) & (db1['Discharge Date and Time']<date_end)]
    ad_S = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Stroke')]
    ad_N = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Neurology')]
    ad_U = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Urology')]
    ad_C = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Cardiology')]
    pae_S = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Paediatric Surgery')]
    adm_num.append(str(len(adm)))
    dis_num.append(str(len(dis)))
    difference = len(adm) - len(dis)
    diff.append(difference)
    date.append(date_start)
    ad_Stroke.append(str(len(ad_S)))
    ad_Neur.append(str(len(ad_N)))
    ad_Ur.append(str(len(ad_U)))
    ad_Card.append(str(len(ad_C)))
    paed_Surg.append(str(len(pae_S)))

In [43]:
db2014 = pd.DataFrame(list(zip(date,adm_num,dis_num,diff,ad_Stroke,ad_Neur,ad_Ur,ad_Card,paed_Surg)), columns = ['Date','Admission Num','Discharge Num','Difference','Adult Stroke Patients','Adult Neurology Patients','Adult Urology Patients','Adult Cardiology Patients', 'Paediatric Surgery Patients'])

In [44]:
db2014

,Date,Admission Num,Discharge Num,Difference,Adult Stroke Patients,Adult Neurology Patients,Adult Urology Patients,Adult Cardiology Patients,Paediatric Surgery Patients
0,2014-01-01,3,2,1,1,0,2,0,0
1,2014-01-02,2,5,-3,0,0,1,1,0
2,2014-01-03,8,4,4,0,2,0,0,3
3,2014-01-04,10,5,5,1,0,1,2,6
4,2014-01-05,8,7,1,0,0,2,0,6
...,...,...,...,...,...,...,...,...,...
359,2014-12-26,3,3,0,0,0,1,2,0
360,2014-12-27,9,3,6,0,1,0,4,4
361,2014-12-28,5,5,0,0,0,1,2,1
362,2014-12-29,13,4,9,0,1,7,5,0
363,2014-12-30,12,12,0,1,1,2,4,4

In [45]:
adm_num = []
dis_num = []
diff = []
date = []
ad_Stroke = []
ad_Neur = []
ad_Ur = []
ad_Card = []
paed_Surg = []
#start_time = datetime.strptime('00:00:00', '%H:%M:%S')
#end_time = datetime.strptime('23:59:59', '%H:%M:%S')
hours = 23
minutes = 59
seconds = 59
add_hours = timedelta(hours = hours, minutes = minutes, seconds = seconds)
for row,column in dataset_date.iterrows():
    date_start = column['Date 2015']
    date_end = column['Date 2015'] + add_hours
    adm = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end)]
    dis = db1[(db1['Discharge Date and Time']>=date_start) & (db1['Discharge Date and Time']<date_end)]
    ad_S = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Stroke')]
    ad_N = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Neurology')]
    ad_U = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Urology')]
    ad_C = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Adult Cardiology')]
    pae_S = db1[(db1['Admission date and time']>=date_start) & (db1['Admission date and time']<date_end) & (db1['Specialty'] == 'Paediatric Surgery')]
    adm_num.append(str(len(adm)))
    dis_num.append(str(len(dis)))
    difference = len(adm) - len(dis)
    diff.append(difference)
    date.append(date_start)
    ad_Stroke.append(str(len(ad_S)))
    ad_Neur.append(str(len(ad_N)))
    ad_Ur.append(str(len(ad_U)))
    ad_Card.append(str(len(ad_C)))
    paed_Surg.append(str(len(pae_S)))

In [46]:
db2015 = pd.DataFrame(list(zip(date,adm_num,dis_num,diff,ad_Stroke,ad_Neur,ad_Ur,ad_Card,paed_Surg)), columns = ['Date','Admission Num','Discharge Num','Difference','Adult Stroke Patients','Adult Neurology Patients','Adult Urology Patients','Adult Cardiology Patients', 'Paediatric Surgery Patients'])

In [47]:
db2013.to_excel('Data2013.xlsx',index = False)
db2014.to_excel('Data2014.xlsx',index = False)
db2015.to_excel('Data2015.xlsx',index = False)

In [48]:
number_Database = pd.concat([db2013,db2014,db2015], ignore_index = True)

In [49]:
number_Database.to_excel('Databse_All_Years.xlsx',index = False)

### -------------------------------------------------

### Creating a dataset for building the Logistic Regression model

In [51]:
db1.head(5)

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Age Group
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00,Adult
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00,Adult
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00,Adult
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00,Child
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00,Child

In [52]:
db_model = db1

In [53]:
bins = [0,16,40,50,80,105]
labels = ['0-16','16-40','40-50','50-80','80-105']

In [54]:
db_model['Age Group'] = pd.cut(db_model['Age'], bins = bins, labels = labels, include_lowest = True)

In [55]:
db_model.head()

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Age Group
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00,50-80
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00,40-50
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00,40-50
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00,0-16
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00,0-16

In [56]:
db_model.to_excel('Data_Age_Grouped.xlsx',index = False)

In [57]:
new_Age = []
for row,column in db_model.iterrows():
    old_age = column['Age']
    new_age = math.ceil(1.2*old_age)
    new_Age.append(new_age)

In [58]:
new_Age

[92,
 50,
 56,
 9,
 10,
 88,
 45,
 40,
 41,
 72,
 102,
 77,
 68,
 69,
 63,
 47,
 8,
 78,
 99,
 78,
 76,
 70,
 93,
 76,
 93,
 34,
 75,
 14,
 11,
 78,
 38,
 18,
 33,
 84,
 59,
 100,
 56,
 32,
 81,
 72,
 44,
 62,
 84,
 39,
 46,
 33,
 44,
 18,
 80,
 2,
 81,
 69,
 62,
 99,
 74,
 35,
 87,
 107,
 102,
 32,
 11,
 81,
 96,
 54,
 75,
 66,
 9,
 15,
 87,
 95,
 83,
 98,
 98,
 3,
 18,
 90,
 32,
 66,
 47,
 66,
 94,
 86,
 90,
 11,
 27,
 76,
 102,
 77,
 82,
 86,
 95,
 78,
 21,
 78,
 54,
 21,
 87,
 104,
 95,
 76,
 94,
 64,
 76,
 51,
 64,
 74,
 93,
 83,
 77,
 39,
 83,
 15,
 16,
 87,
 87,
 40,
 83,
 38,
 64,
 47,
 47,
 18,
 32,
 76,
 18,
 33,
 2,
 75,
 74,
 48,
 74,
 34,
 65,
 71,
 20,
 74,
 3,
 14,
 20,
 15,
 28,
 5,
 72,
 71,
 60,
 2,
 54,
 3,
 56,
 88,
 95,
 89,
 116,
 82,
 72,
 94,
 72,
 106,
 47,
 102,
 96,
 92,
 17,
 39,
 90,
 94,
 16,
 83,
 48,
 53,
 18,
 70,
 34,
 4,
 2,
 88,
 96,
 52,
 40,
 93,
 92,
 14,
 77,
 100,
 81,
 5,
 86,
 72,
 94,
 110,
 77,
 86,
 34,
 76,
 58,
 5,
 83,
 76,
 69,
 21,
 68,
 4,
 72,
 93,
 74,
 21,
 28,
 17,
 68,
 68,
 72,
 83,
 100,
 80,
 59,
 107,
 39,
 100,
 75,
 88,
 77,
 94,
 40,
 8,
 70,
 74,
 94,
 40,
 12,
 77,
 95,
 77,
 66,
 54,
 2,
 78,
 80,
 69,
 32,
 10,
 15,
 72,
 3,
 12,
 17,
 2,
 42,
 95,
 51,
 50,
 24,
 70,
 101,
 68,
 95,
 65,
 3,
 94,
 40,
 2,
 53,
 35,
 56,
 78,
 56,
 57,
 24,
 48,
 62,
 36,
 88,
 96,
 74,
 17,
 89,
 66,
 70,
 16,
 96,
 64,
 64,
 81,
 40,
 111,
 34,
 14,
 75,
 56,
 84,
 71,
 72,
 75,
 6,
 96,
 39,
 2,
 5,
 59,
 94,
 9,
 17,
 11,
 59,
 6,
 81,
 77,
 82,
 92,
 66,
 70,
 83,
 39,
 15,
 11,
 89,
 104,
 75,
 77,
 69,
 74,
 96,
 40,
 12,
 20,
 86,
 88,
 70,
 30,
 22,
 17,
 11,
 5,
 84,
 98,
 87,
 11,
 78,
 29,
 64,
 68,
 80,
 94,
 83,
 82,
 54,
 51,
 75,
 24,
 77,
 54,
 100,
 69,
 24,
 53,
 88,
 16,
 57,
 86,
 22,
 69,
 101,
 78,
 77,
 64,
 101,
 5,
 102,
 72,
 84,
 83,
 71,
 2,
 92,
 36,
 96,
 6,
 89,
 18,
 18,
 54,
 69,
 89,
 40,
 18,
 30,
 17,
 78,
 48,
 71,
 74,
 72,
 20,
 8,
 83,
 87,
 89,
 34,
 18,
 66,
 99,
 15,
 17,
 58,
 64,
 69,
 14,
 71,
 78,
 44,
 81,
 75,
 2,
 68,
 48,
 52,
 39,
 88,
 78,
 9,
 3,
 66,
 29,
 3,
 96,
 24,
 29,
 106,
 102,
 68,
 53,
 17,
 12,
 71,
 90,
 30,
 83,
 51,
 63,
 81,
 4,
 9,
 5,
 72,
 60,
 82,
 92,
 40,
 68,
 2,
 93,
 40,
 95,
 76,
 56,
 60,
 76,
 12,
 52,
 11,
 101,
 56,
 9,
 6,
 5,
 20,
 107,
 38,
 90,
 16,
 4,
 8,
 41,
 3,
 78,
 90,
 100,
 96,
 104,
 98,
 98,
 74,
 62,
 16,
 16,
 66,
 52,
 64,
 68,
 76,
 69,
 92,
 88,
 82,
 100,
 104,
 8,
 18,
 54,
 59,
 84,
 83,
 81,
 74,
 59,
 84,
 92,
 87,
 90,
 81,
 17,
 17,
 88,
 81,
 83,
 87,
 60,
 68,
 26,
 27,
 93,
 38,
 22,
 78,
 81,
 84,
 59,
 33,
 39,
 57,
 18,
 96,
 93,
 84,
 6,
 84,
 34,
 18,
 47,
 88,
 63,
 90,
 78,
 3,
 86,
 34,
 86,
 3,
 14,
 74,
 95,
 63,
 64,
 63,
 84,
 99,
 8,
 45,
 82,
 72,
 77,
 96,
 5,
 3,
 53,
 14,
 63,
 16,
 16,
 12,
 84,
 52,
 20,
 78,
 9,
 77,
 78,
 16,
 82,
 47,
 9,
 11,
 8,
 94,
 86,
 70,
 46,
 84,
 27,
 52,
 62,
 88,
 45,
 3,
 15,
 17,
 66,
 98,
 60,
 78,
 68,
 99,
 66,
 54,
 6,
 93,
 18,
 14,
 3,
 50,
 77,
 14,
 70,
 89,
 65,
 48,
 82,
 96,
 110,
 5,
 50,
 69,
 35,
 40,
 90,
 92,
 39,
 45,
 4,
 14,
 98,
 16,
 2,
 48,
 11,
 81,
 76,
 10,
 10,
 78,
 65,
 20,
 90,
 83,
 20,
 72,
 96,
 104,
 58,
 18,
 70,
 39,
 65,
 27,
 66,
 16,
 10,
 86,
 75,
 46,
 14,
 11,
 15,
 11,
 95,
 106,
 96,
 53,
 81,
 34,
 3,
 3,
 20,
 105,
 62,
 3,
 77,
 96,
 111,
 71,
 93,
 98,
 94,
 17,
 62,
 94,
 4,
 60,
 72,
 89,
 102,
 99,
 96,
 44,
 100,
 102,
 27,
 78,
 81,
 82,
 88,
 51,
 94,
 2,
 64,
 75,
 80,
 94,
 6,
 100,
 20,
 14,
 45,
 88,
 39,
 89,
 4,
 66,
 72,
 6,
 92,
 2,
 5,
 15,
 39,
 74,
 46,
 14,
 14,
 72,
 6,
 15,
 14,
 2,
 95,
 12,
 88,
 14,
 3,
 98,
 66,
 15,
 16,
 3,
 10,
 89,
 18,
 39,
 18,
 76,
 11,
 2,
 83,
 16,
 12,
 16,
 5,
 93,
 64,
 39,
 70,
 76,
 4,
 68,
 20,
 101,
 65,
 16,
 70,
 74,
 70,
 88,
 81,
 2,
 88,
 83,
 104,
 94,
 83,
 88,
 65,
 102,
 94,
 18,
 20,
 16,
 94,
 72,
 34,
 24,
 72,
 83,
 18,
 71,
 101,
 8,
 3,
 10,
 18,
 17,
 81,
 11,
 62,
 74,
 84,
 3,
 17,
 74,
 80,
 77,
 92,
 88,
 9,
 117,
 101,
 83,
 16,
 16,
 70,
 20,
 34,
 57,
 59,
 82,
 81,
 107,
 93,
 86,
 18,
 88,
 38,
 59,
 16,
 14,
 71,
 59,
 9,
 46,
 11,
 72,
 17,
 69,
 74,
 58,
 23,
 16,
 14,
 21,
 3,
 2,
 14,
 17,
 100,
 59,
 70,
 95,
 20,
 98,
 6,
 84,
 68,
 8,
 83,
 64,
 51,
 64,
 15,
 88,
 83,
 3,
 87,
 47,
 18,
 93,
 14,
 59,
 27,
 57,
 12,
 100,
 80,
 64,
 77,
 83,
 88,
 41,
 72,
 11,
 64,
 35,
 59,
 105,
 101,
 26,
 83,
 6,
 59,
 18,
 78,
 99,
 40,
 36,
 62,
 36,
 90,
 90,
 81,
 6,
 83,
 5,
 89,
 93,
 50,
 57,
 18,
 38,
 64,
 93,
 28,
 71,
 58,
 35,
 100,
 46,
 4,
 87,
 48,
 104,
 11,
 65,
 20,
 74,
 90,
 44,
 76,
 77,
 82,
 18,
 96,
 77,
 10,
 86,
 88,
 8,
 99,
 94,
 102,
 106,
 6,
 14,
 24,
 40,
 69,
 62,
 80,
 3,
 101,
 29,
 65,
 77,
 76,
 60,
 42,
 72,
 46,
 18,
 17,
 101,
 69,
 15,
 59,
 75,
 70,
 2,
 17,
 74,
 81,
 84,
 40,
 21,
 100,
 105,
 88,
 80,
 74,
 5,
 63,
 78,
 82,
 100,
 106,
 2,
 65,
 99,
 75,
 16,
 11,
 58,
 86,
 56,
 5,
 ...]

In [59]:
db_model['New Age'] = new_Age

In [60]:
bins = [0,16,40,50,80,200]
labels = ['0-16','16-40','40-50','50-80','80-105']

In [61]:
db_model['New Age Group'] = pd.cut(db_model['New Age'], bins = bins, labels = labels, include_lowest = True)

In [62]:
db_model

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Age Group,New Age,New Age Group
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00,50-80,92,80-105
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00,40-50,50,40-50
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00,40-50,56,50-80
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00,0-16,9,0-16
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00,0-16,10,0-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,16323,64,Adult ENT,Surgical,David Crausby,2015-12-26 21:32:00,2015-12-31 11:47:00,Lynn,A/E,Private Patient,ED,4 days 14:15:00,50-80,77,50-80
12407,16324,11,Paediatric Endocrinology,Paediatric,Bob Stewart,2015-12-29 12:35:00,2015-12-31 15:46:00,OAK,A/E,Public Patient,ED,2 days 03:11:00,0-16,14,0-16
12408,16326,87,Adult Cardiology,Medical,David Evennett,2015-12-25 22:17:00,2015-12-31 17:07:00,CCU,A/E,Public Patient,ED,5 days 18:50:00,80-105,105,80-105
12409,16327,44,Adult Cardiology,Medical,Frank Field,2015-12-29 21:57:00,2015-12-31 17:07:00,CCU,A/E,Public Patient,Other Hospital,1 days 19:10:00,40-50,53,50-80
12410,16328,63,Adult Cardiology,Medical,David Evennett,2015-12-24 12:39:00,2015-12-31 21:00:00,Webb,A/E,Public Patient,Other Hospital,7 days 08:21:00,50-80,76,50-80

In [63]:
#pip install sklearn

In [64]:
from sklearn.linear_model import LogisticRegression

In [66]:
######################### Sarting Fresh with the datasets for prediction #############################

In [67]:
db_model.head()

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Age Group,New Age,New Age Group
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00,50-80,92,80-105
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00,40-50,50,40-50
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00,40-50,56,50-80
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00,0-16,9,0-16
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00,0-16,10,0-16

In [68]:
############### Grouping LOS #################

In [69]:
LOS_Group = []
total = 0
date1 = datetime.strptime('12-01-01 00:00:00', date_format)
date2 = datetime.strptime('16-01-31 23:59:59', date_format)
for row,column in db1.iterrows():
    admission_day = column['Admission date and time']
    if admission_day >= date1 and admission_day < date2:
        total+=1
        if column['LOS'].days >= 7 and column['LOS'].days < 15:
            LOS_Group.append('7-15')
        elif column['LOS'].days >=15:
            LOS_Group.append('15+')
        elif column['LOS'].days == 0:
            LOS_Group.append('0-')
        elif column['LOS'].days > 0 and column['LOS'].days < 7:
            LOS_Group.append('0-7')

In [70]:
len(LOS_Group)

12411

In [71]:
db_model['LOS_Group'] = LOS_Group

### Creating Model

##### Training Dataset

In [73]:
subset_1 = db_model[['Age Group', 'Doctor', 'Ward','LOS_Group', 'Specialty']].copy()

In [74]:
subset_1['Age Group'] = subset_1['Age Group'].astype('category')
subset_1['Doctor'] = subset_1['Doctor'].astype('category')
subset_1['Ward'] = subset_1['Ward'].astype('category')
subset_1['Specialty'] = subset_1['Specialty'].astype('category')
subset_1['LOS_Group'] = subset_1['LOS_Group'].astype('category')

In [75]:
subset_1['Age Group'] = subset_1['Age Group'].cat.codes
subset_1['Doctor'] = subset_1['Doctor'].cat.codes
subset_1['Ward'] = subset_1['Ward'].cat.codes
subset_1['Specialty'] = subset_1['Specialty'].cat.codes
subset_1['LOS_Group'] = subset_1['LOS_Group'].cat.codes

In [76]:
independent = ['Age Group','Doctor','LOS_Group','Ward']
X_train = subset_1[independent]
y_train = subset_1.Specialty

In [77]:
################### Test Dataset ###############################

##### Test Dataset

In [78]:
subset_2 = db_model[['New Age Group', 'Doctor','LOS_Group', 'Ward']].copy()

In [79]:
subset_2['New Age Group'] = subset_2['New Age Group'].astype('category')
subset_2['Doctor'] = subset_2['Doctor'].astype('category')
subset_2['Ward'] = subset_2['Ward'].astype('category')
subset_2['LOS_Group'] = subset_2['LOS_Group'].astype('category')

In [80]:
subset_2['New Age Group'] = subset_2['New Age Group'].cat.codes
subset_2['Doctor'] = subset_2['Doctor'].cat.codes
subset_2['Ward'] = subset_2['Ward'].cat.codes
subset_2['LOS_Group'] = subset_2['LOS_Group'].cat.codes

In [81]:
independent_2 = ['New Age Group','Doctor','LOS_Group','Ward']
X_test = subset_2[independent_2]

##### Regression Model

In [83]:
model = LogisticRegression()
model.fit(X_train,y_train)

C:\Users\samya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\samya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [84]:
prediction = model.predict(X_test)

In [85]:
prediction_list = prediction.tolist()

In [86]:
len(prediction_list)

12411

In [87]:
subset_2['Predicted Specialty'] = prediction_list

In [104]:
subset_2

,New Age Group,Doctor,LOS_Group,Ward,Predicted Specialty,New Specialty
0,4,11,2,0,0,Adult Cardiology
1,2,7,0,17,0,Adult Cardiology
2,3,12,0,6,0,Adult Cardiology
3,0,16,0,22,8,Paediatric Surgery
4,0,16,0,22,8,Paediatric Surgery
...,...,...,...,...,...,...
12406,3,8,1,18,0,Adult Cardiology
12407,0,2,1,22,6,Paediatric Endocrinology
12408,4,9,1,6,0,Adult Cardiology
12409,3,12,1,6,0,Adult Cardiology
12410,3,9,3,31,5,Adult Urology

#### Checking the categories that were changed to codes

In [89]:
subset_1['Specialty'].dtype

dtype('int8')

In [90]:
subset_1_2 = db_model[['Age Group', 'Doctor', 'Ward', 'Specialty']].copy()

In [91]:
c = subset_1_2['Specialty'].astype('category')

In [92]:
codes = c.cat.codes

In [93]:
cats = c.cat.categories

In [94]:
cats[0]

'Adult Cardiology'

In [ ]:
subset_2_2 = subset_2

In [96]:
New_Spec = []
for row,column in subset_2_2.iterrows():
    if column['Predicted Specialty'] == 0:
        New_Spec.append(cats[0])
    elif column['Predicted Specialty'] == 1:
        New_Spec.append(cats[1])
    elif column['Predicted Specialty'] == 2:
        New_Spec.append(cats[2])
    elif column['Predicted Specialty'] == 3:
        New_Spec.append(cats[3])
    elif column['Predicted Specialty'] == 4:
        New_Spec.append(cats[4])
    elif column['Predicted Specialty'] == 5:
        New_Spec.append(cats[5])
    elif column['Predicted Specialty'] == 6:
        New_Spec.append(cats[6])
    elif column['Predicted Specialty'] == 7:
        New_Spec.append(cats[7])
    elif column['Predicted Specialty'] == 8:
        New_Spec.append(cats[8])

In [97]:
len(New_Spec)

12411

In [103]:
subset_2['New Specialty'] = New_Spec

In [98]:
db_model['New Specialty'] = New_Spec

In [99]:
db_model

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Age Group,New Age,New Age Group,LOS_Group,New Specialty
0,1,76,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 days 22:50:00,50-80,92,80-105,15+,Adult Cardiology
1,2,41,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 days 16:16:00,40-50,50,40-50,0-,Adult Cardiology
2,3,46,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 days 21:31:00,40-50,56,50-80,0-,Adult Cardiology
3,4,7,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:09:00,0-16,9,0-16,0-,Paediatric Surgery
4,5,8,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 days 18:13:00,0-16,10,0-16,0-,Paediatric Surgery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,16323,64,Adult ENT,Surgical,David Crausby,2015-12-26 21:32:00,2015-12-31 11:47:00,Lynn,A/E,Private Patient,ED,4 days 14:15:00,50-80,77,50-80,0-7,Adult Cardiology
12407,16324,11,Paediatric Endocrinology,Paediatric,Bob Stewart,2015-12-29 12:35:00,2015-12-31 15:46:00,OAK,A/E,Public Patient,ED,2 days 03:11:00,0-16,14,0-16,0-7,Paediatric Endocrinology
12408,16326,87,Adult Cardiology,Medical,David Evennett,2015-12-25 22:17:00,2015-12-31 17:07:00,CCU,A/E,Public Patient,ED,5 days 18:50:00,80-105,105,80-105,0-7,Adult Cardiology
12409,16327,44,Adult Cardiology,Medical,Frank Field,2015-12-29 21:57:00,2015-12-31 17:07:00,CCU,A/E,Public Patient,Other Hospital,1 days 19:10:00,40-50,53,50-80,0-7,Adult Cardiology
12410,16328,63,Adult Cardiology,Medical,David Evennett,2015-12-24 12:39:00,2015-12-31 21:00:00,Webb,A/E,Public Patient,Other Hospital,7 days 08:21:00,50-80,76,50-80,7-15,Adult Urology

In [100]:
db_model.to_excel('New Specialty.xlsx',index = False)

In [101]:
len(db_model)

12411